.footer {
    max-width: 1180px;
    margin: 0 auto;
    padding: 15px 10px;
    background-color: #333333;
    border-top: 6px solid #CE1126;
    display: grid;
    grid-template: auto auto auto / auto;
    grid-template-areas: 
    "A"
    "B"
    "C";
    gap: 20px;
    @media(min-width: 650px) {
        grid-template: auto auto / 1fr 1fr;
        grid-template-areas:
        "A A"
        "B C";
    }
    @media(min-width: 930px) {        
        grid-template: auto / 1fr 1fr 1fr;
        grid-template-areas: "A B C";
    }
    &--header {
        border-bottom: 1px solid #222222;
        text-transform: uppercase;
        color: #EEEEEE;
        padding: 20px 0 15px;
        font-size: 18px;
    }
    &--footer {
        font-size: 17px;
        color: #F33F3F;
        font-weight: 700;
        margin-top: 35px;
    }
    &--footer:hover {
        color: #AAAAAA;
        cursor: pointer;
    }
    &__lid { 
        grid-area: A;       
        &--content {
            display: flex;
            flex-direction: column;
            gap: 15px;
            color: #AAAAAA;
            font-weight: bold;
            font-size: 16px;
            line-height: 1.5;
            padding: 10px 0;
            & img {
                margin: 0 auto;
            }
        }
        &--footer {
            color: #F33F3F;
            font-size: 18px;
            padding: 10px 0 15px;
        }
        &--footer:hover {
            color: #AAAAAA;
            cursor: pointer;
        }
    }   
    &__tourschema {
        grid-area: B;
        &--content h3 {
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 5px;
            color: #F33F3F;
        }
        &--content h3:hover {
            color: #AAAAAA;
            cursor: pointer;
        }
        &--content p {
            font-size: 15px;
            margin: 5px 0 25px;
            color: #AAAAAA;
        }        
    }   
    &__berichten {
        grid-area: C;
        &--content {
            font-size: 15px;
            color: #AAAAAA;
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: 10px 0;
            & span {
                color: #F33F3F;
                font-size: 16px;
            }
            & span:hover {
                color: #AAAAAA;
                cursor: pointer;
            }
        }
    }
}

.copyright {
    max-width: 1200px;
    background-color: #222222;
    padding: 15px 0;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    color: #AAAAAA;
    border-top: 1px solid #444444;
}