.privacy {
    background-color: white;
    border-top: solid 1px #DDDDDD;
    padding: 30px 15px;
    color: #666666;
    font-size: 15px;
    opacity: 0.9;
    &__title {
        font-size: 25px;
        margin-bottom: 25px;
        color: #444444;
    }
    &__section {
        margin-bottom: 15px;
        max-width: 800px;
        line-height: 1.3;
    }
    &__list {
        list-style-type: '-';
        max-width: 700px;
        & li {
            padding: 8px;
        }
    }
}