.tavenu {
    background-color: white;
    opacity: 0.9;
    border-top: solid 1px #DDDDDD;
    padding: 30px;
    color: #888888;
    &__section {
        font-size: 18px;
        margin: 25px 0;
    }
    &__link {
        color: #ED1126;
        font-size: 20px;
        font-weight: bold;
    }
    &__link:hover {
        color: #000;
    }
}