body:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
    background-image: url(../images/flag-800.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-color: #ce1126;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
a:visited {
    color:#FFF;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    &__top {
        background-color: #000;
        color: #FFF;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: end;
        align-items: center;
        padding: 12px 30px 8px;  
        &--logo {
            width: 30px;
        }
        &--logo:hover {
            transform: scale(1.2);
        }    
    }
    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media(min-width: 920px) {
            flex-direction: row;
            padding: 0 15px;
        }        
        &--title {
            display: flex;
            flex-direction: column;
            align-items: center;
            & h1 {                
                font-size: 40px;
                margin: 10px 0 0;
                @media(max-width: 350px) {
                    font-size: 30px;
                }
            }
            & p {
                font-size: 20px;
                margin: 2px 5px 5px;
                color: #777777;
            }
        }
        &--hamburger {
            background-color: #000;
            width: 98%;
            text-align: center;
            @media(min-width: 550px) {
                display: none;
            }
            & img {
                width: 50px;
                margin-top: 3px;
            }
        }
        &--menu {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 95%;
            list-style-type: none;
            padding: 0;
            & li {
                font-size: 17px;
                color: #666666;
                padding: 2px 5px;
                @media(min-width: 920px) {
                    font-size: 18px;
                }
            }
            & .active {
                color: #ce1126;
            }
            & li:hover {
                color: #ce1126;
                cursor: pointer;
            }
            @media(min-width: 550px) {
                display: flex;
                flex-direction: row;
                gap: 5px;
                flex-wrap: wrap;
                justify-content: center;
                width:auto;                          
            }            
        }
    }
}

.showmenu {
    display: none;
    @media(min-width: 550px) {
        display: flex;
    }
}

.dropbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__icon {
        display: flex;
        flex-direction: row;
        @media(min-width: 550px) {
            display: none;
        }  
        & .nonactive {
            display: none;
        }      
    }    
}

.dropbtn i {
    display: none;
    @media(min-width: 550px) {
        display: contents;
    }
}

.dropdown-content {
    list-style-type: '-';
    & li {
        padding: 5px;
    }
    & li:nth-child(1) {
        padding-top: 10px;
    }
    @media(min-width: 550px) {
        list-style-type: none;
        display: none;
        position: absolute;
        z-index: 1;
        padding: 0;
        padding-top: 18px;
        & li {
            width: 250px;
            background-color: #000;
            color: #999999;
            padding: 5px 10px;
            transition-duration: 500ms;
        }
        & li:hover {
            color: #FFF;
            width: 225px;
            padding-left: 35px;
        }
    }
    @media(min-width: 920px) {
        padding-top: 33px;
    }
    
}

.dropdown:hover .dropdown-content {
    display: block;
}



