@import "./header";
@import "./footer";
@import "./slideshow";
@import "./privacy";

body:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
    background-image: url(../images/flag-800.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-color: #ce1126;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;  
}
// a:visited {
//     color:#FFF;
// }




