body:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
    background-image: url(../images/flag-800.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-color: #ce1126;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
a:visited {
    color:#FFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    &__top {
        background-color: #000;
        color: #FFF;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: end;
        align-items: center;
        padding: 12px 30px 8px;  
        &--logo {
            width: 30px;
        }
        &--logo:hover {
            transform: scale(1.2);
        }    
    }
    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media(min-width: 900px) {
            flex-direction: row;
            padding: 0 15px;
        }
        &--title {
            display: flex;
            flex-direction: column;
            align-items: center;
            & h1 {                
                font-size: 40px;
                margin: 10px 0 0;
                @media(max-width: 350px) {
                    font-size: 30px;
                }
            }
            & p {
                font-size: 20px;
                margin: 2px 5px 5px;
                color: #777777;
            }
        }
        &--menu {
            display: flex;
            flex-direction: row;
            gap: 5px;
            flex-wrap: wrap;
            justify-content: center;
            & li {
                padding: 2px 5px;
                font-size: 18px;
            }
            & li:hover {
                color: #ce1126;
                cursor: pointer;
            }
        }
    }
}

.active {
    color: #ce1126;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    @media(min-width: 550px) {
        padding-top: 18px;
    }
    @media(min-width: 900px) {
        padding-top: 33px;
    }
    & li {
        background-color: #000;
        color: #FFF;
        padding: 5px 10px;
        transition-duration: 500ms;
    }
    & li:hover {
        color: #FFF;
        transform: translateX(25px);
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

